* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
}
.top-section {
  height: fit-content;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  padding-bottom: 60px;
}
nav {
  color: #fff;
  padding: 40px 200px;
  display: flex;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 70px;
  font-size: larger;
}
.nav-list > * {
  cursor: pointer;
}

.list-active {
  padding-bottom: 5px;
  border-bottom: 2px solid white;
}
h1 {
  font-size: x-large;
}

.haruki-message-container {
  font-size: x-large;
  letter-spacing: 1px;
  color: white;
  width: 75%;
  padding-top: 300px;
  margin: auto;
}
.haruki-message {
  font-size: 15vh;
}
.search-container {
  width: 75%;
  margin: auto;
  position: relative;
  margin-top: -40px;
}
.search-container input {
  width: 70%;
  border: none;
  border-radius: 88px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.08);
  outline: none;
  z-index: 0;
}
.search-button {
  position: absolute;
  right: 31%;
  padding: 25px;
  top: 7%;
  border: none;
  border-radius: 88px;
  width: 10%;
  background-color: #b1b1b1;
  color: #fff;
  font-size: large;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  cursor: pointer;
}

.tags-list {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 20px;
  font-size: medium;
  width: 75%;
  color: gray;
  margin: auto;
  z-index: 10;
}
.tags-list > * {
  cursor: pointer;
}
.text-container-first {
  display: flex;
  width: 75%;
  margin: auto;
  padding: 50px 0;
  gap: 50px;
}
.roles-locations-container {
  font-size: 80px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.locations-count {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}
.roles,
.locations {
  color: gray;
  font-size: 32px;
}
.learn-more-button {
  background-color: #fff;
  border: none;
  text-transform: uppercase;
  width: 100%;
  font-size: large;
  font-weight: 600;
  color: #545454;
  text-align: start;
  padding-top: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.work-description-container {
  margin-left: 15%;
  font-size: 72px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  width: 40%;
}
.work-description {
  color: #6d6d6d;
  font-size: 20px;
  font-weight: 400;
  width: 110%;
}
.first-middle-section {
  width: 55%;
  padding-top: 200px;
  margin: auto;
  position: relative;
  display: flex;
}
.middle-first-text-container {
  display: flex;
  position: absolute;
  width: 15%;
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  color: #191919;
  flex-direction: column;
  left: -100px;
  top: 60px;
}
.united-text {
  font-size: 15px;
  letter-spacing: 1px;
  padding-top: 5px;
  color: #6d6d6d;
}
.middle-gray-box {
  width: 50%;
  height: 300px;
  background-color: #b1b1b1;
}
.middle-last-text-container {
  width: 35%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.innovation {
  margin-top: -50px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #b1b1b1;
}
.innovation-text {
  padding-top: 20px;
  color: #575757;
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 20px;
}
.connectivity,
.arv {
  font-weight: 500;
  font-size: 30px;
  margin-top: 20px;
  color: #191919;
}
.perks-and-benefits {
  display: flex;
  width: 70%;
  margin: auto;
}
.perks-and-benefits h2 {
  font-size: 70px;
  font-weight: 400;
  margin-top: 140px;
  padding-right: 50px;
}
.grid-list {
  padding-top: 100px;
  width: 100%;
  margin: auto;
  font-size: x-large;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  list-style: none;
  white-space: nowrap;
}
.grid-list > * {
  padding: 50px;
  padding-bottom: 0;
}
.grid-list > *:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}
.n1-in-grid {
  grid-area: 1 / 1 / 2 / 2;
}
.n2-in-grid {
  grid-area: 1 / 2 / 2 / 3;
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
.n3-in-grid {
  grid-area: 1 / 3 / 2 / 4;
}
.n4-in-grid {
  grid-area: 2 / 1 / 3 / 2;
}
.n5-in-grid {
  grid-area: 2 / 2 / 3 / 3;
  white-space: normal;
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
.n6-in-grid {
  grid-area: 2 / 3 / 3 / 4;
}
.n7-in-grid {
  grid-area: 3 / 1 / 4 / 2;
}
.n8-in-grid {
  grid-area: 3 / 2 / 4 / 3;
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
.n9-in-grid {
  grid-area: 3 / 3 / 4 / 4;
}
.last-section {
  width: 65%;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.last-section h2 {
  position: absolute;
  font-weight: 500;
  font-size: 72px;
  top: -10%;
  white-space: nowrap;
  display: flex;
  align-items: end;
  gap: 20px;
}
.last-section p {
  font-weight: 500;
  font-size: 16px;
  color: #6d6d6d;
}
.last-section span {
  font-weight: 600;
  font-size: 20px;
}
.long-gray-box {
  width: 40%;
  height: 600px;
  background-color: #b1b1b1;
}
.top-gray-box {
  position: absolute;
  right: 17%;
  top: 15%;
  background-color: #a1a1a1;
  width: 40%;
  height: 300px;
}
.bottom-gray-box {
  background-color: #b1b1b1;
  width: 30%;
  height: 400px;
}
footer {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
.top-footer {
  background-color: #f7f7f7;
  text-align: center;
  padding-bottom: 5%;
  padding-top: 5%;
  width: 100%;
}
.top-footer p {
  margin-top: 10px;
  color: #6d6d6d;
}
.top-footer span {
  font-weight: 600;
}
.bot-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  width: 100%;
  height: 500px;
}
a {
  margin-top: 50px;
  letter-spacing: 1px;
  font-weight: 400;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fff;
  gap: 5px;
}
.socials {
  display: flex;
  margin-top: 30px;
  gap: 20px;
}
.socials > * {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: #393939;
  cursor: pointer;
}
.language-button {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: #393939;
  width: 12%;
  margin-top: 2%;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
}
.footer-list {
  color: #fff;
  display: flex;
  gap: 50px;
  list-style: none;
  margin-top: 40px;
}
.footer-list > * {
  cursor: pointer;
}
hr {
  margin: 40px;
  border: 1px solid #848484;
}
.haruki-2022 {
  color: #fff;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: x-large;
}
.search-button:hover,.middle-gray-box:hover,.long-gray-box:hover, .top-gray-box:hover,.bottom-gray-box:hover{
  background-color: orange;
}
